:root {
  --White: hsl(0, 0%, 100%);
  --Light_gray: hsl(212, 45%, 89%);
  --Grayish_blue: hsl(220, 15%, 55%);
  --Dark_blue: hsl(218, 44%, 22%);

  font-size: 15px;
  font-family: "Outfit", sans-serif;
  background-color: var(--Light_gray) ;
}

body  {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    border-radius: 10px;
    width: 100%;
}

h1 {
    font-size: 1.5em;
    color: var(--Dark_blue);
}

p {
    color: var(--Grayish_blue);
    
}

h1, p  {
    padding: 0 1.2em;
    text-align: center;
}


.card {
    border-radius: 20px;
    width: 300px;
    background-color: var(--White);
    padding: 1.25em;
    padding-bottom: 1.5em;
    
}

.attribution {
    color: hsl(228, 45%, 44%);
    font-size: 11px;
    align-self: flex-end;
    position: absolute;
}
